/* Estilos específicos para la página Principal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #aaa9a9;
  color: #fff;
  margin: 0;
  padding: 0;
  background-image: url('resource/shot_my_parents_thumbnail_16x9_widescreen_es.jpg'); /* Ruta a tu imagen */   background-size: cover; /* Escala la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Asegura que cubra la altura completa de la ventana */
}

/* Barra de Navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7d7d7d;
  padding: 0rem 1rem;
  position: sticky;
  top: 0;
}

.navbar h1 {
  font-size: 3rem;
  color:#ffc800;
}

.navbar nav a {
  color: #000000;
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1rem;
}

.navbar nav a:hover {
  color: #ffc800;
}
/* Catálogo */

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0.1rem;
    padding: 0.1rem;
}
/*
.movie-card {
    background-color: #000000;
    padding: 0rem;
    text-align: center;
    border-radius: 0px;
    font-family: Arial, Helvetica, sans-serif
}
/*/

.movie-card img {
    width: 100%;
    border-radius: 0px;
}

.movie-card p {
    margin-top: 0rem;
}