/* Reset y estilos básicos */
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    color: #fff;
}

/* Barra de Navegación */
/*
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
}
/*
.navbar h1 {
    font-size: 2rem;
    color: #e50914;
}

.navbar nav a {
    color: #fff;
    margin-left: 2rem;
    text-decoration: none;
}

.navbar nav a:hover {
    color: #e50914;
}

/* Catálogo */
/*
.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 0rem;
    padding: 0rem;
}
/*
.movie-card {
    background-color: #000000;
    padding: 0rem;
    text-align: center;
    border-radius: 0px;
}

.movie-card img {
    width: 100%;
    border-radius: 0px;
}

.movie-card p {
    margin-top: 0rem;
}
/*